* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.octocat {
  width: 30%;
  display: inline-block;
  margin: 10px;
}

.octocat>a>img {
  border: solid;
  border-width: thin;
  border-color: gray;
}

.octodex {
  width: auto;
  display: inline-block;
}

ul {
list-style: none;
}

.image-footer {
  padding: 5px ;
  width: 100%;
  height: auto;
  display: inline-block;
  border-bottom: solid;
  /* vertical-align: middle; */
  border-width: thin;
  border-color: gray;
}

.image-number {
  display: inline-block;
  /* vertical-align: middle; */
  /* margin-top: 8px; */
  float: left;
}

.image-caption {
  float: right;
  display: inline-block;
  vertical-align: middle;
  }

.authors {
  display: inline-block;
  vertical-align: middle;
  padding: 0px;
}


.authors>li>a {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
}

.image-number::before {
content: "#";
}
