* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.octocat {
  width: 30%;
  display: inline-block;
  color: red;
  margin: 10px;
  border: solid;
  border-width: thin;
  border-color: black;
}

.octodex {
  width: auto;
  display: inline-block;
}

ul {
list-style: none;
}

.image-footer {
  background: red;
  height: auto;
  display: inline-block;
}

.image-number {
  display: inline-block;
}

.image-caption {
  display: inline-block;
  /* background-color: blue; */
  }

.authors {
  display: inline-block;
  vertical-align: middle;
}

.authors>li>a {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
}
